<section class="landing">
  <section class="banner">
    <figure>
      <img src="../../assets/images/icons/icon-128x128.png">
    </figure>
  </section>

  <section class="signin">
    <ul>
      <li><a [ngClass]="{'active': form =='login'}" (click)="form='login'">Login</a></li>
      <li><a [ngClass]="{'active': form =='register'}" (click)="form='register'">Register</a></li>
    </ul>

    <div *ngIf="form == 'login'">
      <input type="text" placeholder="Username"/>
      <input type="text" placeholder="Password"/>
      <button (click)="login()">Continue</button>
    </div>

    <div *ngIf="form == 'register'">
      <input type="text" placeholder="Username"/>
      <input type="text" placeholder="Email address"/>
      <input type="text" placeholder="Password"/>
      <input type="text" placeholder="Confirm Password"/>
      <button>Continue</button>
    </div>

    <div class="social">
      <p>or</p>
      <button>Facebook</button>
    </div>
  </section>
</section>

