/* Global Color Variables for Theme Manipulation*/

//Primary color variables
//$theme-color: #f2bf63;
$theme-color: #e6476d;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
$white: #FFFFFF;
$black: #000000;
$red: #ff6054;
$blue: #337ab7;
$yellow: yellow;
$light-gray: lighten($divider-color, 16%);
$body-bg: #F7F7F7;
