<section>
  <ul class="recipes__group__card">
    <li>
      <figure class="recipes__card" [ngStyle]="{'background':'url(../../assets/images/recipes/r1.JPG)'}">
        <figcaption>
          <h2>Chicken fry</h2>
          <small>Main Cource</small>

          <ul class="time">
            <li>
              <label>Prepration Time</label>
              <strong>15 mins</strong>
            </li>
            <li>
              <label>Cooking Time</label>
              <strong>15 mins</strong>
            </li>
          </ul>
        </figcaption>
      </figure>
    </li>

    <li>
      <figure class="recipes__card" [ngStyle]="{'background':'url(../../assets/images/recipes/r2.JPG)'}">
        <figcaption>
          <h2>Chicken Recipe</h2>
          <small>Main Cource</small>

          <ul class="time">
            <li>
              <label>Prepration Time</label>
              <strong>15 mins</strong>
            </li>
            <li>
              <label>Cooking Time</label>
              <strong>15 mins</strong>
            </li>
          </ul>
        </figcaption>
      </figure>
    </li>

    <li>
      <figure class="recipes__card" [ngStyle]="{'background':'url(../../assets/images/recipes/r1.JPG)'}">
        <figcaption>
          <h2>Chicken Recipe</h2>
          <small>Main Cource</small>

          <ul class="time">
            <li>
              <label>Prepration Time</label>
              <strong>15 mins</strong>
            </li>
            <li>
              <label>Cooking Time</label>
              <strong>15 mins</strong>
            </li>
          </ul>
        </figcaption>
      </figure>
    </li>

    <li>
      <figure class="recipes__card" [ngStyle]="{'background':'url(../../assets/images/recipes/r3.JPG)'}">
        <figcaption>
          <h2>Fish fry</h2>
          <small>Main Cource</small>

          <ul class="time">
            <li>
              <label>Prepration Time</label>
              <strong>15 mins</strong>
            </li>
            <li>
              <label>Cooking Time</label>
              <strong>15 mins</strong>
            </li>
          </ul>
        </figcaption>
      </figure>
    </li>

    <li>
      <figure class="recipes__card" [ngStyle]="{'background':'url(../../assets/images/recipes/r4.JPG)'}">
        <figcaption>
          <h2>Fish Pepper fry</h2>
          <small>Main dish</small>

          <ul class="time">
            <li>
              <label>Prepration Time</label>
              <strong>15 mins</strong>
            </li>
            <li>
              <label>Cooking Time</label>
              <strong>15 mins</strong>
            </li>
          </ul>
        </figcaption>
      </figure>
    </li>

  </ul>
</section>
