<section class="categories">
  <ul>
    <li>
      <figure [ngStyle]="{'background':'url(../../assets/images/recipes/r1.JPG)'}">
        <figcaption>
         Veg Recipes
        </figcaption>
      </figure>
    </li>
    <li>
      <figure [ngStyle]="{'background':'url(../../assets/images/recipes/r2.JPG)'}">
        <figcaption>
         Non Veg
        </figcaption>
      </figure>
    </li>
    <li>
      <figure [ngStyle]="{'background':'url(../../assets/images/recipes/r3.JPG)'}">
        <figcaption>
          Deserts
        </figcaption>
      </figure>
    </li>
    <li>
      <figure [ngStyle]="{'background':'url(../../assets/images/recipes/r4.JPG)'}">
        <figcaption>
          Coolers
        </figcaption>
      </figure>
    </li>
    <li>
      <figure [ngStyle]="{'background':'url(../../assets/images/recipes/r1.JPG)'}">
        <figcaption>
          Rice, Grains, Beans & Stuffing
        </figcaption>
      </figure>
    </li>
  </ul>
</section>
