<div class="view">
  <figure>
    <img src="./../../assets/images/recipes/r1.JPG"/>
    <figcaption>
      <small>Main Dish</small>
      <h2>Chicken sukka - Kori, Best recipe to be tried once</h2>
      <ul>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
      </ul>
    </figcaption>
  </figure>

  <p class="info">
    This is one of the most exciting and popular recipe from the Mangalore west coastal city. People prefer this recipe
    with neer dosa, chapati, naan, kulcha etc, Most recommended being tried. If you are a spicy lover just go for it.
  </p>

  <ul class="actions">
    <li class="active">
      <a>Ingredients</a>
    </li>
    <li>
      <a>Instructions</a>
    </li>
  </ul>

  <div class="steps">
    <ol>
      <li>Preparing Masala : Take a small blending jar add Cinnamon ( Dalchini ), Cardamon (Yalaki), Clove ( Lavang ),
        Coriander Seeds ( dhaniye ke beej ), Turmeric, Dry Lemon Powder, Black pepper, Bay Leaves and salt . Grind it
        well, now your masala is ready.
      </li>
      <li>Marinate Process : Take a clean chicken pieces of 500grm, Add Ginger & Garlic paste and squeeze the juice of 1
        lemon in it, Now mix it well and marinate for 2 hours ( Optional : In Refrigerator ).
      </li>
      <li>Cooking Process : Take a medium size Kadai, Add 2 tbps of ghee, Add sliced onion and stir till it turns golden
        brown
      </li>
      <li>Add 2 thin chopped tomato or tomato paste, Add 2 Length sliced green chilli, Stir it for 3 mins</li>
      <li>Now add marinated chicken pieces and mix it well, Cook covered in medium flame ( Stir in between ) till
        chicken is cooked, Now add well chopped coriander leaves for garnish. Your Pepper Lemon Chicken is ready serve
        hot.
      </li>
    </ol>
  </div>
</div>
