<div class="tabs">
  <ul>
    <li class="active"><a>Recipes</a></li>
    <li><a>Ingredients</a></li>
  </ul>
</div>

<div class="recipes__group">

  <h2>Top Recipes
    <button class="more">More</button>
  </h2>

  <div class="recipes__card">
    <div class="recipe__item" (click)="view()">
      <figure>
        <img src="./../../assets/images/recipes/r1.JPG"/>
        <figcaption>
          <a><i class="fa fa-heart"></i></a>
          <h3>Chicken Dum Birayni</h3>
          <small>
            Main Course
          </small>
        </figcaption>
      </figure>
    </div>
    <div class="recipe__item" (click)="view()">
      <figure>
        <img src="./../../assets/images/recipes/r2.JPG"/>
        <figcaption>
          <a><i class="fa fa-heart"></i></a>
          <h3>Chicken Dum Birayni</h3>
          <small>
            Main Course
          </small>
        </figcaption>
      </figure>
    </div>
    <div class="recipe__item" (click)="view()">
      <figure>
        <img src="./../../assets/images/recipes/r3.JPG"/>
        <figcaption>
          <a><i class="fa fa-heart"></i></a>
          <h3>Chicken Dum Birayni</h3>
          <small>
            Main Course
          </small>
        </figcaption>
      </figure>
    </div>
  </div>
</div>


<div class="recipes__group">
  <h2>Recommended Recipes
    <button class="more">More</button>
  </h2>

  <div class="recipes__card">
    <div class="recipe__item" (click)="view()">
      <figure>
        <img src="./../../assets/images/recipes/r5.JPG"/>
        <figcaption>
          <a><i class="fa fa-heart"></i></a>
          <h3>Chicken Dum Birayni</h3>
          <small>
            Main Course
          </small>
        </figcaption>
      </figure>
    </div>
    <div class="recipe__item" (click)="view()">
      <figure>
        <img src="./../../assets/images/recipes/r4.JPG"/>
        <figcaption>
          <a><i class="fa fa-heart"></i></a>
          <h3>Chicken Dum Birayni</h3>
          <small>
            Main Course
          </small>
        </figcaption>
      </figure>
    </div>
    <div class="recipe__item" (click)="view()">
      <figure>
        <img src="./../../assets/images/recipes/r2.JPG"/>
        <figcaption>
          <a><i class="fa fa-heart"></i></a>
          <h3>Chicken Dum Birayni</h3>
          <small>
            Main Course
          </small>
        </figcaption>
      </figure>
    </div>
  </div>
</div>

<div class="recipes__group">
  <h2>Recently viewed
    <button class="more">More</button>
  </h2>

  <div class="recipes__card">
    <div class="recipe__item" (click)="view()">
      <figure>
        <img src="./../../assets/images/recipes/r4.JPG"/>
        <figcaption>
          <a><i class="fa fa-heart"></i></a>
          <h3>Chicken Dum Birayni</h3>
          <small>
            Main Course
          </small>
        </figcaption>
      </figure>
    </div>
    <div class="recipe__item" (click)="view()">
      <figure>
        <img src="./../../assets/images/recipes/r2.JPG"/>
        <figcaption>
          <a><i class="fa fa-heart"></i></a>
          <h3>Chicken Dum Birayni</h3>
          <small>
            Main Course
          </small>
        </figcaption>
      </figure>
    </div>
    <div class="recipe__item" (click)="view()">
      <figure>
        <img src="./../../assets/images/recipes/r5.JPG"/>
        <figcaption>
          <a><i class="fa fa-heart"></i></a>
          <h3>Chicken Dum Birayni</h3>
          <small>
            Main Course
          </small>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
